{% extends 'base.html' %}
{% load static %}

{% block page_header %}
  <div class="container header-container">
    <div class="row">
      <div class="col text-center mt-5">
        <h1 class="logo-font">Your Bookings</h1>
        <hr class="mx-auto w-50 mb-4" />
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="overlay"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        {% if bookings %}
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Package</th>
                  <th>Details</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th>Total</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for booking in bookings %}
                  <tr data-item-id="{{ booking.package.id }}">
                    <td>{{ booking.package.name }}</td>
                    <td>{{ booking.package.description }}</td>
                    <td>£{{ booking.package.price }}</td>
                    <td>
                      <input type="number" name="quantity" class="form-control quantity-input"
                          value="{{ booking.quantity }}" min="1" data-item-id="{{ booking.package.id }}">
                    </td>
                    <td>£<span class="line-total">{{ booking.line_total }}</span></td>
                    <td>
                      <div class="d-flex gap-2">
                        <button type="button" class="btn btn-sm btn-success update-link w-100">Update</button>
                        <button class="btn btn-sm btn-danger remove-item w-100" data-item-id="{{ booking.package.id }}">Remove</button>
                      </div>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="text-right">
            <h4>Total: £<span id="total">{{ total }}</span></h4>
            <a href="" class="btn btn-primary mt-2">Proceed to Checkout</a>
          </div>
        {% else %}
          <div class="text-center my-5">
            <p class="lead">Your bookings are currently empty.</p>
            <a href="{% url 'packages' %}" class="btn btn-outline-primary btn-lg"><i class="fas fa-chevron-left"></i> Book a Driving Package</a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>

  <!-- Include CSRF Token -->
  <input type="hidden" id="csrf_token" value="{{ csrf_token }}">

  <script src="{% static 'bag/bag.js' %}"></script>

{% endblock %}
