{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-black">
                    Welcome to Road Ready Driving
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="" class="browse-now-button btn btn-lg rounded-0 text-uppercase py-3">Book</a>
                    </h4>
                </div>
                <p>Our mission is to provide the best driving instruction in the area. We offer a variety of services to help you become a safe and confident driver.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h2>Services</h2>
                <ul>
                    <li>Driving Lessons</li>
                    <li>Defensive Driving Courses</li>
                    <li>Driver's Education</li>
                    <li>Driving Test Preparation</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}