{% extends "profiles/account.html" %}

{% block account_content %}
<div class="overlay"></div>
<div role="main" aria-labelledby="username" class="page-container">
    <div class="text-center mb-4">
        <h1 class="mb-0" id="username">Update Username</h1>
        <hr class="w-25 mx-auto">
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="text-start">
                    <button type="submit" class="btn btn-primary">Update Username</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}