{% extends "profiles/account.html" %}
{% load i18n allauth account %}

{% block account_content %}
<div class="overlay"></div>
<div role="main" aria-labelledby="password-reset-done" class="page-container">
    <h1 class="mb-5" id="password-reset-done">{% trans "Password Reset" %}</h1>
    <hr>

    {% if messages %}
        <div class="messages mb-4">
            {% for message in messages %}
                <div class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% endif %} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            <p>{% blocktrans %}We have sent you an email. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}</p>
        </div>
    </div>
</div>
{% endblock %}