{% load static %}

<header>
  {% with url_name=request.resolver_match.url_name %}
    <nav class="navbar navbar-expand-lg fixed-top bg-white shadow">
      <div class="container-fluid">
        <!-- Logo -->
        <a class="navbar-brand" href="/" aria-label="Homepage - Road Ready Driving"><img src="{% static 'web_elements/favicon/android-chrome-512x512.png' %}" alt="Road Ready Driving logo" /></a>

        <!-- Mobile Search Button -->
        <div class="search-menu menu-icon d-block d-lg-none" id="mobileSearchButton">
          <i class="fa-solid fa-magnifying-glass menu-item"></i>
        </div>

        <!-- Navbar Toggle Button (For Mobile) -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

        <!-- Navigation Menu -->
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link menu-item" href="">Services</a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link menu-item">About</a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link menu-item">Contact</a>
            </li>
          </ul>

          <!-- Search Bar Container -->
          <div class="search-bar-container d-none d-lg-block">
            <form class="search-bar" method="GET" action="">
              <input class="form-control" type="search" name="q" placeholder="Search" aria-label="Search" />
              <button class="btn btn-secondary" type="submit">GO</button>
            </form>
          </div>

          <!-- Shopping Bag -->
          <div class="d-flex align-items-center">
            <div class="shopping-bag me-3">
              <a class="nav-link {% if grand_total %}
                  
                  
                   text-info font-weight-bold


                {% else %}
                  
                  
                   text-black


                {% endif %}"
                href="">
                <div class="text-center">
                  <i class="fas fa-shopping-bag fa-lg"></i>
                </div>
                <p class="my-0">
                  {% if item_count %}
                    {{ item_count }} item{{ item_count|pluralize }}
                  {% else %}

                  {% endif %}
                </p>
              </a>
            </div>
          </div>

          <!-- User Account Dropdown -->
          <div class="user-menu menu-icon dropdown">
            <div class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-user fa-lg"></i>
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                  <li>
                    <a href="" class="dropdown-item">Product Management</a>
                  </li>
                {% endif %}
                <li>
                  <a href="" class="dropdown-item">My Profile</a>
                </li>
                <li>
                  <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                </li>
              {% else %}
                <li>
                  <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                </li>
                <li>
                  <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </nav>
  {% endwith %}
</header>
