{% extends "profiles/account.html" %}
{% load i18n allauth account crispy_forms_tags %}

{% block account_content %}
<div class="overlay"></div>
<div role="main" aria-labelledby="signin" class="page-container">
    <h1 class="mb-5" id="signin">{% trans "Sign In" %}</h1>
    <hr>

    {% if messages %}
        <div class="messages mb-4">
            {% for message in messages %}
                <div class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% endif %} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            {% if not SOCIALACCOUNT_ONLY %}
                <p>{% blocktranslate %}If you have not created an account yet, then please <a href="{{ signup_url }}">sign up</a> first.{% endblocktranslate %}</p>
                {% url 'account_login' as login_url %}
                <form method="post" action="{{ login_url }}" class="mb-4">
                    {% csrf_token %}
                    {{ form|crispy }}
                    {{ redirect_field }}
                    <div class="text-end">
                        <button type="submit" class="btn btn-primary">{% trans "Sign In" %}</button>
                    </div>
                </form>
            {% endif %}

            {% if LOGIN_BY_CODE_ENABLED or PASSKEY_LOGIN_ENABLED %}
                <hr>
                <div class="d-grid gap-2">
                    {% if PASSKEY_LOGIN_ENABLED %}
                        <button type="submit" form="mfa_login" id="passkey_login" class="btn btn-outline-primary">
                            {% trans "Sign in with a passkey" %}
                        </button>
                    {% endif %}
                    {% if LOGIN_BY_CODE_ENABLED %}
                        <a href="{{ request_login_code_url }}" class="btn btn-outline-primary">
                            {% trans "Mail me a sign-in code" %}
                        </a>
                    {% endif %}
                </div>
            {% endif %}

            {% if SOCIALACCOUNT_ENABLED %}
                {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {% if PASSKEY_LOGIN_ENABLED %}
        {% include "mfa/webauthn/snippets/login_script.html" with button_id="passkey_login" %}
    {% endif %}
{% endblock %}