{% extends "profiles/account.html" %}
{% load i18n allauth crispy_forms_tags %}

{% block account_content %}
<div class="overlay"></div>
<div role="main" aria-labelledby="email" class="page-container">
    <h1 class="mb-5" id="email">{% trans "Email Address" %}</h1>
    <hr>

    {% if messages %}
        <div class="messages mb-4">
            {% for message in messages %}
                <div class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% endif %} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            {% if not emailaddresses %}
                {% include "account/snippets/warn_no_email.html" %}
            {% endif %}
            {% url 'account_email' as action_url %}
            <form method="post" action="{{ action_url }}">
                {% csrf_token %}
                {% if current_emailaddress %}
                    <div class="mb-3">
                        <label class="form-label">{% trans "Current email" %}:</label>
                        <input type="email" class="form-control" value="{{ current_emailaddress.email }}" disabled>
                    </div>
                {% endif %}
                {% if new_emailaddress %}
                    <div class="mb-3">
                        <label class="form-label">
                            {% if not current_emailaddress %}{% trans "Current email" %}{% else %}{% trans "Changing to" %}{% endif %}:
                        </label>
                        <input type="email" class="form-control" value="{{ new_emailaddress.email }}" disabled>
                        <div class="mt-2">
                            <p>{% blocktranslate %}Your email address is still pending verification.{% endblocktranslate %}</p>
                            <button form="pending-email" type="submit" name="action_send" class="btn btn-outline-secondary btn-sm">{% trans "Re-send Verification" %}</button>
                            {% if current_emailaddress %}
                                <button form="pending-email" type="submit" name="action_remove" class="btn btn-outline-danger btn-sm">{% trans "Cancel Change" %}</button>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
                {{ form|crispy }}
                <div class="text-end">
                    <button type="submit" name="action_add" class="btn btn-secondary">{% trans "Change Email" %}</button>
                </div>
            </form>
            {% if new_emailaddress %}
                <form style="display: none" id="pending-email" method="post" action="{% url 'account_email' %}">
                    {% csrf_token %}
                    <input type="hidden" name="email" value="{{ new_emailaddress.email }}">
                </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}